
 .dashboard-layout {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
  max-width: 1250px;
  margin: 3rem auto;
}
/* DashboardLayout.css */
.dashboard-container {
  display: flex;
  flex-direction: row;
  gap: 14px;
  width: 100%;
  border-radius: 16px;  
  overflow: auto;
}

.sale-graph-section {
  flex-grow: 1;
  background-color: #303244;
  border-radius: 16px;
  padding: 24px 16px;
}

.best-sellers-section {
  flex-grow: 1;
  background-color: #303244;
  border-radius: 16px;
  padding: 28px 16px 24px 16px;
}


.recent-orders-section {
  width: 100%;
  background-color: #303244;
  border-radius: 16px;
  padding: 24px 16px;
  margin-top: 20px;
  overflow: auto;
}
