.level-fulfillment-container {
    display: flex;
    flex-direction: column;
    gap: 14px;
    background-color: #21222d;
    border-radius: 10px;
    padding: 14px;
    min-width: 300px;
    height: auto;
  }
  
  .level-section,
  .fulfillment-section {
    flex: 1;
  }
  
  .level-section h2,
  .fulfillment-section h2 {
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    margin: 0;
  }
  
  .level-chart {
    margin-top: 1rem;
    height: 7rem;
    padding-left: 1rem;

  }
  
  .chart-legend {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 0 33px;
  }
  
  .legend-item {
    display: flex;
    align-items: center;
    gap: 11px;
  }
  
  .legend-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
  
  .legend-dot.volume {
    background: #a9dfd8;
  }
  
  .legend-dot.service {
    background: #2b2b36;
  }
  
  .legend-item span {
    font-size: 10px;
    font-weight: 500;
    color: #a0a0a0;
  }
  
  .legend-divider {
    width: 1px;
    height: 17px;
    background: rgba(255, 255, 255, 0.18);
    margin: 0 20px;
  }
  
  .fulfillment-chart {
    margin-top: 20px;
    display: flex;
    
  }
  
  
  