/* General Styles */
* {
  margin: 0;
  padding: 0;
}

.homepage-container {
  font-family: Arial, sans-serif;
  background: linear-gradient(90deg, #e7e6e6, #dee4f8);
  color: #333;
  padding: 20px;
  width: 98.9vw;
  /* height: 99vh; */
  overflow-x: hidden;
  margin-top: 50px;
}

/* Hero Section */
.hero-section {
  background: linear-gradient(90deg, #7e909a, #7dadc4);
  color: white;
  height: 400px;
  text-align: center;
  padding: 50px 20px;
  border-radius: 15px;
  margin-bottom: 40px;
  /* background-image: url("../../../public/images/banner1.jpeg");
  background-size: cover; */
}

.hero-section .slick-slide {
  display: flex;
  justify-content: center;
}

.slick-arrow {
  margin: 20px;
}

.hero-content {
  text-align: center;
  padding: 40px 20px;
  
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.hero-btn {
  background: #4b748b;
  color: #ffffff;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.hero-btn:hover {
  background: #2f536c;
  color: #fff;
  transform: scale(1.05);
}

/* Products Section */
.products-section {
  text-align: center;
  padding: 20px;
}

.products-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 45px;
  justify-items: auto;
}

.product-card {
  background: white;
  width: 250px;
  position: relative;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s;
  text-align: center;
  /* height:18rem;   */
  height: auto;  
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}
.product-image-container{
  display: flex;
  justify-content: center;
}
.product-image {
  width: 100%;
  max-width: 100px;
  height: auto;
  margin: 0 auto;
  border-radius: 5px;
}

.product-card h3 {
  font-size: 1.2rem;
  /* margin-bottom: 5px; */
}

.product-card p {
  font-size: 0.8rem;
  color: #777;
  /* margin-bottom: 10px; */
}

.product-btn {
  background: #4b748b;
  color: white;
  padding: 10px 15px;
  font-size: 0.8rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.product-btn:hover {
  background: #2f536c;
  transform: scale(1.05);
}
.buy-cart-btn{
  display: flex;  
  justify-content: space-between;
}

.wishlist-icon {
  font-size: 24px;
  color: #ccc;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: color 0.3s ease-in-out;
}

.wishlist-icon.liked {
  color: red;
}