.status {
    padding: 4px 10px;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
  }
  
  .status.processing {
    color: orange;
  }
  
  .status.shipped {
    color: green;
  }
  
  .status.delivered {
    color: aliceblue;
  }
  
  .status.cancelled {
    color: red;
  }
  