/* track.css */
.tracking-container {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
  }
  
  .step {
    text-align: center;
    flex: 1;
  }
  
  .circle {
    width: 25px;
    height: 25px;
    margin: 0 auto;
    border-radius: 50%;
    background: #ccc;
    color: white;
    line-height: 25px;
    font-size: 14px;
  }
  
  .step.active .circle {
    background: #4b748b;
  }
  
  .label {
    margin-top: 8px;
    font-size: 12px;
  }
  